/* You can add global styles to this file, and also import other style files */
body {
  padding: 0.75rem;
}
:root {
  --form-element-spacing-vertical: 0.25rem;
  --form-element-spacing-horizontal: 0.5rem;
}
